
body{
  background-color: rgb(231, 226, 226);
}


.avatar {
    width: 100px;
    border-radius: 3px;
  }
  .fondo {
  background-color: black;
  }
  
  html {
    scroll-behavior: smooth;
  }


#nombre{
  font-family:'Dancing Script', cursiva;
  font-size: 35px;
}

.nuevo{
  font-family:'Rajdhani', sans-serif;
  font-size: 20px;
}

.titulos{
  font-family: 'Sacramento', cursiva;
  font-size: 45px;
}

.otros{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}



